.starting-station-container {
  display: flex;
}

.station {
  height: 100%;
  display: grid;

  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  box-sizing: content-box;
}

.adjacent-spots {
  display: flex;
  justify-content: space-between;
}

#red-starting {
  flex-direction: column-reverse;
  align-items: end;
}

#blue-starting {
  flex-direction: column;
  justify-content: start;
}

#yellow-starting {

  flex-direction: column-reverse;
  justify-content: start;
}

#green-starting {
  flex-direction: column;
  align-items: end;
}