.starting-station-container {
  display: flex;
}

.station {
  height: 100%;
  display: grid;

  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  box-sizing: content-box;
}

.starting-slot {
  display: flex;
}

.start-spot {
  height: 24px;
  width: 24px;
  background-color: white;
  border-radius: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.36em;
}

.adjacent-spots {
  display: flex;
  justify-content: space-between;
}

#red-starting {
  flex-direction: column-reverse;
  align-items: end;
}

#blue-starting {
  flex-direction: column;
  justify-content: start;
}

#orange-starting {

  flex-direction: column-reverse;
  justify-content: start;
}

#green-starting {
  flex-direction: column;
  align-items: end;
}

.piece {
  cursor: pointer;
}